*{
    margin: 0 auto;
    padding: 0px;
}

body{
    background-image: url("images/PozadinaZaStranicu.jpg");
    background-repeat: repeat;
    color: white;
}

#strelica{
    margin-top: 1%;
    max-height: 7%;
    max-width: 7%;
}

i{
    margin: 10px 0px 0px 10px;
    color: yellow;
}

footer{
    color: yellowgreen;
    text-align: left;
    position: absolute;
    top: 690px;
    z-index: 2;
    position: fixed;
}